{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Nueva promocion" %} {% endblock %}

{% block lateral %} 
	<a href="/"> {% trans "Regresar" %} </a>
{% endblock %}



{% block contenido %}
	<h2>{% trans "Agregar promocion" %}</h2>
	<h3> Campos obligatorios</h3>
	<p><b>Empresa o negocio: </b>Este campo lleva el nombre de la empresa que solicita crear la promocion. </p>
	<p><b>Estado: </b>Use este campo para forzar la publicacion o no publicar una promocion. 
		Sirve en caso de que la empresa o negocio no tenga una periodo de tiempo o numero limite de cupones.</p>
	<p><b>Imagen de la promocion: </b>Este campo lleva la imagen de la promocion que se publicara. </p>


	<h3>Campos opcionales</h3>
	<p><b>Fecha de publicacion y fecha limite: </b>Si se desea que la promocion solo este disponible una semana o un periodo de dias llene estos campos. </p>
	<p><b>Numero limite de cupones: </b>Llene este campo si la empresa o negocio solocita que solo se ofrezcan un numero limitado de cupones. </p>



	<div class="right_content_azul">
		<p class="form_title">{% trans "Nueva promocion" %}</p>
	<script type="text/javascript">
	 $(function() {
	        $("#id_fecha_publicacion").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true });
	        $("#id_fecha_termino").datepicker({ dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true  });
	 });
	</script>

	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		{{formulario.as_p}}
		<p><input class="boton" type='submit' value={% trans "Agregar" %} /></p>
	</form>
	</div>
{% endblock %}