{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Generar nuevo cupon" %} {% endblock %}

{% block lateral %} 
<nav>
  <ul>
    <li><a href="/"> {% trans "Regresar" %} </a></li>
  </ul>
</nav>
{% endblock %}

{% block blog %}
	<p class="important message">Cupones generados: <span class="success message">{{ cupones }}</span>
	{% if promociones.num_limite == None %}
		Sin limite de cupones a generar! Aprovecha!!
	{% else %}
		De:  <span class="success message">{{ promociones.num_limite }}</span>
	{% endif %}

	</p>
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="one mobile half padded">
		<img src='{{MEDIA_URL}}{{ promociones.imagen }}' width="400" height="300" alt="Cupon" />
		<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><button class="large">{% trans "Generar cupon" %} <i class="icon-heart"></i></button></p>
		</form>
	</div>  
	<div class="one mobile half padded">
		<div class="row">
		<h3><span class="special">Descripcion</span></h3>
		<p> {{  promociones.descripcion  }}  </p>
    	</div>

		<div class="row">
		<h3><span class="special">Instrucciones</span></h3>
		<p><b>Da clic en generar cupon: </b>Esto generara un numero para que lo puedas usar, este numero es tu cupon.</p>
		<p><b>Guarda el numero: </b>Canjea el numero con la empresa o negocio correspondiente y disfruta los beneficios de usar tu cupon.  </p>
    	</div>
    </div>
</div>
 {% endblock %}

