{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Este es tu nuevo cupon" %} {% endblock %}
{% block head %}
      <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"> </script>

<script>

// WAMP session object
var sess = null;
 
window.onload = function() {
 
   var wsuri;
   if (window.location.protocol === "file:") {
      wsuri = "ws://zykorwx.no-ip.org:9000";
   } else {
      wsuri = "ws://zykorwx.no-ip.org:9000";
   }
 
   // connect to WAMP server
   ab.connect(wsuri,
 
      // WAMP session was established
      function (session) {
 
         sess = session;
 
         console.log("Connected to " + wsuri);
         publishEvent();
      },
 
      // WAMP session is gone
      function (code, reason) {
 
         sess = null;
 
         if (code == ab.CONNECTION_UNSUPPORTED) {
            window.location = "http://autobahn.ws/unsupportedbrowser";
         } else {
            console.log(reason);
         }
      }
   );
};
 

 
function publishEvent() {
   html = '{"notificacion":{ "cupon":"{{ cupon.num_cupon }}", \n"fecha":"{{ cupon.fecha_creacion }}", \n"user":"{{ user.username }}", \n"precio":"{{ cupon.id_promocion.confPromocion.precio_x_cupon}}"  }}'
   sess.publish("http://clicktotal.com.mx/notifica#" + '{{ cupon.id_promocion.id_empresa.id }}', html);
}



</script>

{% endblock %}




{% block contenido %}
<div class="row-fluid">
	<div class="span6">
			<h2>Tu cupon es:</h2>
			<h1 class="text-info">{{ cupon.num_cupon }}</h1>
	<p>Tu cupon sera valido hasta 24 horas despues de: <b>{{ cupon.fecha_creacion }}</b> </p>		
	<p>Unete ahora a nosotros y empieza a generar nuevos cliente.</p>
   <div class="span6 offset2">
      <a class="btn btn-large btn-primary" href="/empresas#contact" >Más información</a>
   </div>

	</div>  
	<div class="span3">
		<h2 class="text-info"> {{ cupon.id_promocion.id_empresa.nombre }} </h2>
		<h3 class="text-info">Direccion</h3>
		<p><b>Calle:</b> {{ cupon.id_promocion.id_empresa.calle }}<br>
		<b>Numero exterior:</b> {{ cupon.id_promocion.id_empresa.num_exterior }}&nbsp;&nbsp;<b>Numero interior:</b>{{ cupon.id_promocion.id_empresa.num_interior }}<br>
		<b>Colonia:</b> {{ cupon.id_promocion.id_empresa.colonia }}<br>
		<b>Municipio o delegacion:</b> {{ cupon.id_promocion.id_empresa.municipio }}<br>
		<b>Estado:</b> {{ cupon.id_promocion.id_empresa.estado }}</p>
		<h3 class="text-info">Contacto</h3>
		<p><b>Telefono:</b> {{ cupon.id_promocion.id_empresa.telefono }}<br>
		<b>Email:</b> {{ cupon.id_promocion.id_empresa.email }}<br>
		<b>Pagina web:</b> {{ cupon.id_promocion.id_empresa.pagina_web }}</p>
    </div>
</div>



{% endblock %}