{% extends 'base/base.html' %}
{% load i18n %}
{% load dajaxice_templatetags %}

{% block tittle %} {% trans "Se han terminado :(" %} {% endblock %}
{% block head %} 
	{% dajaxice_js_import %}
{% endblock %}

{% block lateral %} 
<nav>
  <ul>
    <li><a href="/"> {% trans "Regresar" %} </a></li>
  </ul>
</nav>
{% endblock %}

{% block blog %}
	<p class="important message">Cupones generados: <span class="success message">{{ cupones }}</span>
	{% if promociones.num_limite == None %}
		Sin limite de cupones a generar! Aprovecha!!
	{% else %}
		De:  <span class="success message">{{ promociones.num_limite }}</span>
	{% endif %}

	</p>
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="one mobile half padded">
		<img src='{{MEDIA_URL}}{{ promociones.imagen }}' width="400" height="300" alt="Cupon" />
		<p class="success message">Sentimos las molestias, pero se acaban de terminar los cupones para esta promocion. Suerte para la proxima, o tal vez fue el destino y te espera una mejor promocion en la pagina. <i class="icon-heart"> </i> </p>
	</div>  
	<div class="one mobile half padded">
		<h3><span class="special">Aun hay mas</span></h3>
		<p><b>Promociones</b>Esto seguro fue solo un contratiempo, pero sigue buscando en la pagina y encontraras igual o mejores promociones.</p>
		<p><b>Aumentar </b>Gracias por tu confianza, seguiremos trabajando para darte el mejor servicio.</p>
    </div>
</div>
 {% endblock %}


