{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Administrador de empresas " %}  {% endblock %}
{% block head %}

<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"> </script>




      <script>

// WAMP session object
var sess = null;
 
window.onload = function() {
 
   var wsuri;
   if (window.location.protocol === "file:") {
      wsuri = "ws://zykorwx.no-ip.org:9000";
   } else {
      wsuri = "ws://zykorwx.no-ip.org:9000";
   }
 
   // connect to WAMP server
   ab.connect(wsuri,
 
      // WAMP session was established
      function (session) {
 
         sess = session;
 
         console.log("Connected to " + wsuri);
         test();
      },
 
      // WAMP session is gone
      function (code, reason) {
 
         sess = null;
 
         if (code == ab.CONNECTION_UNSUPPORTED) {
            window.location = "http://autobahn.ws/unsupportedbrowser";
         } else {
            console.log(reason);
         }
      }
   );
};
 
function test() {
    sess.subscribe("http://clicktotal.com.mx/notifica#"+ '{{ request.session.empresa_id }}', onEvent);
}
 
function onEvent(topicUri, event) {
   console.log(topicUri);
   console.log(event);
   $(document).ready(function(){
    var obj = jQuery.parseJSON(event);
    var row = $("<tr><td>"+obj.notificacion.cupon+"</td><td>"+obj.notificacion.fecha+"</td> <td>"+obj.notificacion.user+"</td></tr>");
    $(".tabla_noti tbody").prepend(row);

   });
}
       </script>


 {% endblock %}

{% block lateral %} 
<nav>
  <ul>
    <li><a href='/empresa/nueva_promocion/{{ request.session.empresa_id }}'> {% trans "Agregar promocion" %} </a></li>
    <li><a href="/"> {% trans "Regresar" %} </a></li>
    <li><a href="/empresa/cerrar" class="warning message"> {% trans "Cerrar sesion" %} </a></li>
  </ul>
</nav>
{% endblock %}

{% block blog %}
  <h1>Hola <span class="special-1">{{ request.session.empresa_nombre }}</span></h1>
  <p>En este espacio podrás administrar tus promociones, ver tu estado de cuenta, elegir si tu promoción seguirá mostrándose o no, cambiar el número de cupones máximo, o cambiar la fecha de finalización de tu cupón, pagar tu cuenta entre otras cosas, disfrutalo.</p>
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="one mobile half padded">		
    <p>El total de cupones que has expedido en este periodo es: <span class="success message"> {{ total }}</span></p> 
    <p>Tu saldo actual es: <span class="success message"> ${{ pago }}</span></p> 
    <div id="log">
    <table class="tabla_noti">
      <thead>
      <tr>
        <th scope="col">Cupon</th>
        <th scope="col">Fecha de creacion</th>
        <th scope="col">Usuario que lo solicito</th>
      </tr>
    </thead>
    <tbody>
    {% for cupon in cupones  %}
        <tr>
          <td>{{cupon.num_cupon}} </td>
          <td>{{cupon.fecha_creacion}}</td>
          <td>{{cupon.user}}</td>
        </tr>
    {% endfor %}
  </tbody>
    </table>
    </div>
	</div>  

	<div class="one mobile half padded">

<div class="tabs">
  <ul>
    <li><a href="#tab-1" class="active">Mostrar cupones de periodo</a></li>
    <li><a href="#tab-2">Mostrar todas mis promociones</a></li>
  </ul>
  <div id="tab-1" class="active">
    <h3>Mostrar cupones</h3>
    <p>Aqui se muestran el numero de cupones que se han canjeado por promocion, en el presente periodo. Si das click en alguna promocion veras la informacion de los cupones canjeados.</p>
<table class="promos">
  <tr>
    <th scope="col"><span class="special">Promociones</span></th>
    <th scope="col"><span class="special">Cupones</span></th>
  </tr>


{% if promos == False  %}
  {% for peri in periodo  %}
    {% if peri.cupones != 0 %}
      {% ifchanged peri.id  %} 
        <tr>
          <td><a class="tooltip"  href='/empresa/promo/{{peri.id}}' title='Promocion con id: {{peri.id}}' ><img src='{{MEDIA_URL}}{{ peri.imagen }}' width="150" height="100" alt="promocion" /></a></td>
          <td>{{peri.cupones}}</td>
        </tr>
      {% endifchanged %}
    {% endif %}
  {% endfor %}

{% else  %}

{% for peri in periodo  %}
  {% ifchanged peri.id_promocion.id %} 
  <tr>
    <td><a class="tooltip"  href='/empresa/promo/{{peri.id_promocion.id}}' title='Promocion con id: {{ peri.id_promocion.id }}' ><img src='{{MEDIA_URL}}{{ peri.id_promocion.imagen }}' width="150" height="100" alt="promocion" /></a></td>
    <td>{{ peri.id_promocion.cuponesPeriodo }}</td>
  </tr>
  {% endifchanged %}
{% endfor %}

{% endif %}







</table>
  </div>
  <div id="tab-2">
    <h3>Mostrar todas mis promociones</h3>
    <p>Aquí se muestran todas tus promociones, y el número total de cupones canjeados por promoción. Si das click en alguna promoción podrás modificar sus valores.</p>
<table class="promos">
  <tr>
    <th scope="col"><span class="special">Promociones</span></th>
    <th scope="col"><span class="special">Cupones</span></th>
  </tr>
{% if promos == False  %}
  {% for peri in periodo  %}
    {% ifchanged peri.id %} 
      <tr>
        <td><a class="tooltip"  href='/empresa/promo/{{peri.id}}' title='Promocion con id: {{peri.id}}' ><img src='{{MEDIA_URL}}{{ peri.imagen }}' width="150" height="100" alt="promocion" /></a></td>
        <td>{{peri.cupones}}</td>
      </tr>
    {% endifchanged %}
  {% endfor %}

{% else  %}

  {% for promo in promos  %}
  {% ifchanged promo.id %} 
  <tr>
    <td><a class="tooltip"  href='/empresa/promo/{{promo.id}}' title='Promocion con id: {{promo.id}}' ><img src='{{MEDIA_URL}}{{ promo.imagen }}' width="150" height="100" alt="promocion" /></a></td>
    <td>{{promo.cupones}}</td>
  </tr>
  {% endifchanged %}
  {% endfor %}

{% endif %}
</table>
  </div>
</div>


    </div>
</div>

{% endblock %}


