{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Nueva empresa" %} {% endblock %}

{% block lateral %} 
<nav>
  <ul>
    <li><a href="/"> {% trans "Regresar" %} </a></li>
  </ul>
</nav>
{% endblock %}





{% block contenido %}

<div class="row">
	<div class="one mobile half padded">
		<span class="special">{% trans "Nueva empresa" %}</span>
		<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><button class="large">{% trans "Agregar" %} <i class="icon-plus"></i></button></p>
		</form>
	</div>  
	<div class="one mobile half padded">
		<h2>{% trans "Agregar Empresa" %}</h2>
		<p>Escriba los datos de la empresa entre mas campos llenos mejor, hay que darle la bienvenida a nuestro nuveo cliente.</p>
    </div>
</div>

{% endblock %}

