{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Pago empresa" %} {% endblock %}

{% block contenido %}

<div class="row-fluid">
	<div class="span5">
		<h2 class="text-info">{% trans "Pago empresa" %}</h2>
		<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><button class="btn btn-large btn-success">{% trans "Agregar" %} <i class="icon-plus"></i></button></p>
		</form>
	</div>  
	<div class="span4">
		<h2>{% trans "Historial pagos Empresa" %}</h2>
		<p>Escriba los datos de la empresa entre mas campos llenos mejor, hay que darle la bienvenida a nuestro nuevo cliente.</p>
    </div>
</div>

{% endblock %}

