{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Promocion " %} {{ promo.id }} {% endblock %}

{% block head %}
	<script type="text/javascript" src='{{STATIC_URL}}js/empresa/promoEmpresa.js' charset="UTF-8"></script>
{% endblock %}


{% block lateral %} 
<nav>
  <ul>
    <li><a href="/"> {% trans "ir a inicio" %} </a></li>
    <li><a href="/empresa/admin"> {% trans "regresar al administrador" %} </a></li>
  </ul>
</nav>
{% endblock %}




{% block contenido %}
<script type="text/javascript">
$(document).ready(function(){
calendario();
mensajes();
// set up variables
	$(" #id_imagen").ready(function( event ) {
  			var url = '{{MEDIA_URL}}{{ promo.imagen }}'
    		$('#div_imagen').html(' <b> La imagen actual es: </b><br><img id="preview" src='+url+' width=\u0022150\u0022 height=\u0022100\u0022 alt=\u0022promocion\u0022 /> ')
  	});
});






</script>

<script type="text/javascript">
   $(document).ready(function(){
	$(" #id_confPromocion").on( "click", function( event ) {
  	if ($('#id_confPromocion').val() == 0) 
  	{
  		$('#mensaje_field').text('Tienes que seleccionar un tipo de promocion')
  	}
  	else
  	{
        $.ajax({
            type: "GET",
            url: '/ajax/confPromocion/{{ promo.confPromocion.id }}',
            processData: false,
            dataType: "json",
            success: function(data){
                $.each(data, function(key, value){
                    if (value['nombre'] != undefined)
                    {
                      $('#mensaje_field').text('')
                      $('#mensaje_field').append('El tipo de promocion seleccionado es: <b>' + value['nombre'] + '</b><br> Con un precio por cupon de: <b>$ ' + value['precio_x_cupon'] + '</b>')	
                    }
        		    });
    		    }
        });
      }
    });



  $(" #id_fecha_termino").on( "change", function( event ) {
    validaFecha();
  });
  $(" #id_fecha_publicacion").on( "change", function( event ) {
    validaFecha();
  });


  });
</script>

<script type="text/javascript">
 $(document).ready(function(){
 
  
$(" #id_imagen").on( "change", function( event ) {

            if (document.getElementById('id_imagen').files && document.getElementById('id_imagen').files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
        var url = '{{MEDIA_URL}}{{ promo.imagen }}'
        var url2 = e.target.result
        var html = '<div class="row"> '+
                      '<div class="one mobile third"> '+
                        '<img src='+url+' width=\u0022150\u0022 height=\u0022100\u0022 alt=\u0022imagen\u0022 />'+
                        '<b>Imagen actual</b>'+
                      '</div>'+
                      '<div class="one mobile third"> '+
                        '<img id="preview" src='+url2+ ' width=\u0022150\u0022 height=\u0022100\u0022 alt=\u0022imagen\u0022 />'+
                        '<b>Nueva imagen</b>'+
                      '</div>'+
                  '</div>'          
      $('#div_imagen').html(html)

                }

                reader.readAsDataURL(document.getElementById('id_imagen').files[0]);
            }

});
});
</script>


<div class="row">
	<div class="one mobile half padded">
		<span class="special">{% trans "Promocion " %} {{ promo.id }}</span>
		<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><button class="large">{% trans "Guardar" %} <i class="icon-pencil"></i></button></p>
		</form>
	</div>  
	<div class="one mobile half padded">
    <div class="row">
      <h2>{% trans "Imagen " %}</h2>
      <div id="div_imagen"></div>
    </div>
    <div class="row">
    <br><br>
		  <h2>{% trans "Instrucciones " %}</h2>
		  <div id="mensaje_field">Modifique los datos que crea pertinentes y presione en guardar.</div>
    </div>
  </div>
</div>

{% endblock %}

