{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Promocion " %} {{ promo.id }} {% endblock %}

{% block head %}
	<script type="text/javascript" src='{{STATIC_URL}}js/empresa/promoEmpresa.js' charset="UTF-8"></script>
{% endblock %}


{% block lateral %} 
<nav>
  <ul>
    <li><a href="/"> {% trans "Regresar" %} </a></li>
  </ul>
</nav>
{% endblock %}




{% block contenido %}
<script type="text/javascript">
$(document).ready(function(){
calendario();
mensajes();
	$(" #id_imagen").mouseover(function( event ) {
		if ($('#id_imagen').val() == ""){
  			var url = '{{MEDIA_URL}}{{ promo.imagen }}'
    		$('#mensaje_field').html(' <b> La imagen actual es: </b></p> <img src='+url+' width=\u0022150\u0022 height=\u0022100\u0022 alt=\u0022promocion\u0022 />  ')
  		}
  		else
  		{
	  		$('#mensaje_field').html(' Guarde la nueva imagen para poder mostrarla  ')
  		}
  	});

});
</script>

<script type="text/javascript">
   $(document).ready(function(){
	$(" #id_confPromocion").on( "click", function( event ) {
  	if ($('#id_confPromocion').val() == 0) 
  	{
  		$('#mensaje_field').text('Tienes que seleccionar un tipo de promocion')
  	}
  	else
  	{
        $.ajax({
            type: "GET",
            url: '/ajax/confPromocion/{{ promo.confPromocion.id }}',
            processData: false,
            dataType: "json",
            success: function(data){
                $.each(data, function(key, value){
                    if (value['nombre'] != undefined)
                    {
                      $('#mensaje_field').text('')
                      $('#mensaje_field').append('El tipo de promocion seleccionado es: <b>' + value['nombre'] + '</b><br> Con un precio por cupon de: <b>$ ' + value['precio_x_cupon'] + '</b>')	
                    }
        		    });
    		    }
        });
      }
    });
  });
</script>

<div class="row">
	<div class="one mobile half padded">
		<span class="special">{% trans "Promocion " %} {{ promo.id }}</span>
		<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><button class="large">{% trans "Guardar" %} <i class="icon-pencil"></i></button></p>
		</form>
	</div>  
	<div class="one mobile half padded">
		<h2>{% trans "Instrucciones " %}</h2>
		<p id="mensaje_field">Modifique los datos que crea pertinentes y presione en guardar.</p>
    </div>
</div>

{% endblock %}

