{% extends 'base/base.html' %}
{% load i18n %}

{% block tittle %} {% trans "Nueva empresa datos de logeo" %} {% endblock %}

{% block contenido %}

<div class="row-fluid">
	<div class="span9">
		<h2>{% trans "Agregar Empresa" %}</h2>
		<p>Escriba los datos de login  de la empresa, hay que darle la bienvenida a nuestro nuevo cliente.</p>
		<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
			{{formulario.as_p}}
			<p><button class="large">{% trans "Aceptar" %} <i class="icon-plus"></i></button></p>
		</form>
	</div>  
</div>

{% endblock %}
